# Bytecode and cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
env/
ENV/
.venv/

# PyCharm
.idea/

# VS Code (if used)
.vscode/

# macOS & system files
.DS_Store
Thumbs.db

# Logs
*.log

# Test and coverage
htmlcov/
.tox/
.nox/
.coverage
coverage.xml

# Build artifacts
build/
dist/
*.egg-info/
*.eggs/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment files
.env
.env.*
*.env

# User Configs
*.cfg
Configs/Config.json
Configs/Config_Thumbnails.json
Configs/Config_Video_Preview.json

# Resources Files
Resources.json

# User Secret Files
*.secret
Secret.json

# Performers json
Resources/Performers_Images.json